:root {
	--brighter: #dec9e9ff;
	--bright: #dac3e8ff;
	--wisteria: #d2b7e5ff;
	--main: #c19ee0ff;
	--dark: #b185db;
	--amethyst: #a06cd5ff;
	--darker: #9163cbff;
	--royal-purple: #815ac0ff;
	--royal-purple-2: #7251b5ff;
	--royal-purple-3: #6247aaff;
}

.introduction {
	display: flex;
	align-items: center;
	width: 100%;
	height: 90vh;
}

.introduction div {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.introduction .text {
	height: 50%;
	text-align: center;
}

.introduction .text h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 5em;
	font-weight: bold;
	color: var(--brighter);
}

.introduction .important {
	margin: 0;
	margin-top: -25px;
	padding-left: 25%;
	font-size: 3em;
	font-weight: bold;
	color: var(--darker);
	text-shadow: 0 0 10px rgba(137, 80, 160, 0.5);
}

.introduction .presentation {
	text-align: left;
	padding-left: 20%;
	padding-bottom: 50px;
	font-weight: 600;
	font-family: 'Manrope', sans-serif;
	font-size: 25px;
	line-height: 35px;
	color: var(--brighter);
}

.introduction .presentation span {
	padding: 0px 5px;
	border-radius: 10px;
	background-color: rgba(177, 133, 219, 0.9);
	color: var(--brighter);
}

.introduction div img {
	width: 100%;
	height: auto;
}

.introduction .cta {
	margin-left: 50%;
	margin-top: -20px;
    text-decoration: none;
    background-color: var(--darker);
    color: var(--brighter);
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    width: fit-content;
	padding: 10px 20px;
    border-radius: 100px;
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: center;
}

.introduction .cta:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1112px) {

	.introduction {
		padding-top: 10%;
		flex-direction: column;
		height: 100vh;
	}

	.introduction div {
		width: 100%;
	}

	.introduction .text {
		height: 50%;
		text-align: center;
	}
	
	.introduction .text h1 {
		font-family: 'Roboto', sans-serif;
		margin: 0;
		font-size: 5em;
		font-weight: bold;
		color: var(--brighter);
	}
	
	.introduction .important {
		text-align: center;
		padding: 0;
		margin: 0;
		margin-bottom: 30px;
		font-size: 3em;
		font-weight: bold;
		color: var(--darker);
		text-shadow: 0 0 10px rgba(137, 80, 160, 0.5);
	}

	.introduction .presentation {
		padding: 0px 20%;
		text-align: center;
	}
	
	.introduction .presentation span {
		padding: 0px 5px;
		border-radius: 10px;
		background-color: rgba(177, 133, 219, 0.9);
		color: var(--brighter);
	}

	.introduction .cta {
		margin : auto;
		margin-top: 10px;
		z-index: 1;
	}

	.introduction div img {
		position: absolute;
		top: 50%;
	}
}

@media screen and (max-width: 600px) {
	.introduction {
		margin-top: 10%;
	}

	.introduction div img {
		position: absolute;
		top: 50%;
	}

	.introduction .text {
		height: 100%;
		text-align: center;
	}
	
	.introduction .text h1 {
		font-family: 'Roboto', sans-serif;
		margin: 0;
		font-size: 2.5em;
		font-weight: bold;
		color: var(--brighter);
	}
	
	.introduction .important {
		text-align: center;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		font-size: 1.7em;
		font-weight: bold;
		color: var(--darker);
		text-shadow: 0 0 10px rgba(137, 80, 160, 0.5);
	}

	.introduction .presentation {
		font-size: 1em;
		line-height: 25px;
		padding: 0px 10%;
		text-align: center;
	}
	
	.introduction .presentation span {
		padding: 0px 5px;
		border-radius: 10px;
		background-color: rgba(177, 133, 219, 0.9);
		color: var(--brighter);
	}

	.introduction .cta {
		font-size: 1em;
		margin : auto;
		margin-top: 15px;
		z-index: 1;
	}
}