:root {
	--brighter: #dec9e9ff;
	--bright: #dac3e8ff;
	--wisteria: #d2b7e5ff;
	--main: #c19ee0ff;
	--dark: #b185db;
	--amethyst: #a06cd5ff;
	--darker: #9163cbff;
	--royal-purple: #815ac0ff;
	--royal-purple-2: #7251b5ff;
	--royal-purple-3: #6247aaff;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
}

header {
	width: 100%;
	font-family: 'Manrope', sans-serif;
	height: 10vh;
	border-radius: 0 0 35px 35px;
	box-shadow: 0 0 50px 10px rgba(150, 103, 224, 0.9);
	background-color: var(--darker);
}

body {
	background-color: var(--main);
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin-left: 50px;
	margin-right: 50px;
}

header .logo {
	font-family: 'Roboto', sans-serif;
	font-size: 2.7em;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	color: var(--bright);
}

header .container a {
	position: relative;
	z-index: 1000;
	color: var(--bright);
	text-decoration: none;
	font-size: 1.5em;
	/* margin-right: 100px; */
}

header a:hover {
	font-weight: bold;
	border-bottom: 2px solid var(--bright);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header .menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}